{% load static %}
<html>
<head>
<title>SET NEW PASSWORD</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
</head>
<body>
<div id="sc-password">
  <h1>SET NEW PASSWORD</h1>
  <form method="post">
	{% csrf_token %}
  <div class="sc-container">
    {{form.password1}}
    {{form.password2}}
    <input type="submit" value="Submit" />
  </div>
  </form>
</div>
</body>
<script>
  //Query All input fields
  var form_fields = document.getElementsByTagName('input')
  form_fields[1].placeholder='Passowrd1..';
  form_fields[2].placeholder='Password2..';

  for (var field in form_fields){	
    form_fields[field].className += ' form-control'
  }
</script>
</html>
<script src="{% static 'js/jquery.min.js' %}">